@using EntityLayer.Concrete
@model IEnumerable<Order>

<h2 style="color:white; background-color:  #552f0a;border-radius:15px; padding-left:20px;">Orders</h2>

<table class="table" style="background-color: rgb(186, 124, 93); border-radius:15px; ">
    <thead>
        <tr>
            <th>Order Page</th>
            <th>Order Name</th>
            <th>Order Count</th>
            <th>Order Price</th>
            <th>User Name</th>
            <th>User Mail</th>
            <th>Order Status</th>
            <th>Change Order Status</th>

        </tr>
    </thead>
    <tbody>

        @{
            double a = 0;
        }
        @foreach (var group in Model.GroupBy(o => new { o.RegisterID, o.OrderName }))
        {
            <tr>
                <td><img src="@group.First().OrderUrl" style="width:50px; height:50px;" /></td>
                <td>@group.First().OrderName</td>
                <td>@group.Sum(o => o.OrderCount)</td>
                <td>@group.Sum(o => o.OrderPrice)</td>
                <td>@group.First().Register.UserName</td>
                <td>@group.First().Register.UserMail</td>
                <td>
                    @switch (group.First().OrderStatus)
                    {
                        case 0:
                            <i class="fa-solid fa-credit-card" title="Payment" style="color: black;"></i>
                            break;
                        case 1:
                            <i class="fa-solid fa-clock" title="Pending Approval" style="color: orange;"></i>
                            break;
                        case 2:
                            <i class="fa-solid fa-mug-hot" title="Preparing" style="color: blue;"></i>
                            break;
                        case 3:
                            <i class="fa-solid fa-motorcycle" title="On The Way" style="color: green;"></i>
                            break;
                        case 4:
                            <i class="fa-solid fa-xmark" title="Canceled" style="color: red;"></i>
                            break;
                        default:
                            <i class="fa-solid fa-credit-card" title="Payment" style="color: black;"></i>
                            break;
                    }
                </td>
                @{
                    a = 0;
                    a += Model.Sum(o => o.OrderPrice);
                }
                <td>
                    <a style="background-color:white" asp-controller="Admin" asp-action="OrderStatus" asp-route-orderName="@group.First().OrderName" asp-route-userMail="@group.First().Register.UserMail" asp-route-statusId="4" class="btn"><i style=" display:center; color:red; justify-content:center; align-items:center;" class="fa-solid fa-xmark" title="Canceled"></i></a>
                    <a style="background-color:white" asp-controller="Admin" asp-action="OrderStatus" asp-route-orderName="@group.First().OrderName" asp-route-userMail="@group.First().Register.UserMail" asp-route-statusId="2" class="btn"><i style=" display:center; color:blue; justify-content:center; align-items:center;" class="fa-solid fa-mug-hot" title="Preparing"></i></a>
                    <a style="background-color:white" asp-controller="Admin" asp-action="OrderStatus" asp-route-orderName="@group.First().OrderName" asp-route-userMail="@group.First().Register.UserMail" asp-route-statusId="3" class="btn"><i style=" display:center; color:green; justify-content:center; align-items:center;" class="fa-solid fa-motorcycle" title="On ,The Way"></i></a>
                </td>
            </tr>
        }
    </tbody>
</table>
<table class="table" style="background-color: rgb(186, 124, 93); border-radius:15px; ">
    <thead>
    <td> Total Price -> @a.ToString("F2") $</td>


    </thead>
    <tbody>
    </tbody>
</table>


