@using EntityLayer.Concrete
@model IEnumerable<CreditCart>

<h2 style="color:white; background-color:  #552f0a;border-radius:15px; padding-left:20px;">Carts</h2>

<table class="table" style="background-color: rgb(186, 124, 93); border-radius:15px; ">
    <thead>
        <tr>
            <th>Cart Name</th>
            <th>Cart Number</th>
            <th>Cart CVV</th>
            <th>Cart Month</th>
            <th>Cart Year</th>
            <th>Pay</th>
            <th>Add / Delete</th>

        </tr>
    </thead>
    <tbody>

        @{
            double a = 0;
        }
        @foreach (var group in Model.GroupBy(o => o.CartName))
        {
            <tr>
               
                <td>@group.First().CartName</td>
                <td>@group.First().CartNumber</td>
                <td>@group.First().CVV</td>
                <td>@group.First().Month</td>
                <td>@group.First().Year</td>




                <td>
                    <a style="background-color: rgb(186, 124, 93); color: black; border: none; padding: 5px 10px; border-radius: 5px;" asp-action="OrderPayment" asp-controller="CreditCart" class="btn"><i style="color:black" class="fa-solid ">PAY</a>
                </td>
                <td>
                    <a style="background-color:white" asp-controller="CreditCart" asp-action="Delete" asp-route-CartId="@group.First().CartID" class="btn"><i style="color:black" class="fa-solid fa-minus"></i></a>
                </td>
            </tr>
        }
    </tbody>
</table>


<a style="background-color: rgb(186, 124, 93);" asp-action="CreateCreditCart" asp-controller="CreditCart" class="btn btn-primary">Add New Cart</a>
